.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: .8s;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  transition: .8s;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  transition: .8s;
}

.header__link:hover {
  opacity: .7;
}

.feynman__link:hover {
  opacity: .7;
}

.khan__link:hover {
  opacity: .7;
}

.footer__column-link:hover {
  opacity: .7;
}

.khan__buy-link:hover {
  opacity: .7;
}

.resources__link {
  text-decoration: none;
  transition: .8s;
  display: block;
  height: 38px;
  flex-grow: 1;
}

.resources__link:hover {
  opacity: .7;
}
