.footer {
  min-height: 350px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
.footer__columns {
  display: flex;
  width: 90%;
  padding: 60px 0 40px 0;
  justify-content: space-between;
}
.footer__columns_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.footer__author {
  margin: 18px 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}
.footer__columns_content_info {
  display: flex;
  flex-direction: column;
}
.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-link {
  padding: 0;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
a {
  color:white;
  text-decoration: none;
}

li img {
  margin-right: 10px;
}